<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="<%= root_path %>">Trebol</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active text-white" aria-current="page" href="<%= boards_path %>">Boards</a>
        <a class="btn btn-primary custom-button text-white" 
           href="<%= new_board_path %>"
           style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
           Create
        </a>
      </div>

      <div class="ms-auto">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle custom-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile<i class="bi bi-person-circle fs-5 ms-2"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="<%= new_user_path %>">Create User</a></li>
            <li><a class="dropdown-item" href="<%= users_path %>">All Users</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</nav>