<%= form_with model: [@label.board, @label], local: true do |form| %>
<div class="card white-font mt-4" style="width: auto;">
    <div class="card-body">
        <%= form.hidden_field :board_id, value: @label.board_id %>
        <div class="d-flex justify-content-between align-items-center">
            <%= form.text_field :title, placeholder: "Title", class: "form-control mb-4", required: true %>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <%= form.label :color, "Select a Color", class: "form-label me-3" %>
            <%= form.color_field :color, class: "form-control", required: true %>
        </div>
        <div class="actions">
        <%= form.submit "Submit", class: "btn btn-primary rounded-pill px-4 mb-4" %>
    </div>
</div>
<% end %>