<div class="header-container d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
        <h1 class="h1-text">Labels for <%= @board.name %></h1>
        <%= link_to board_path(@board), class: "card-link icon-return" do %>
            <i class="bi bi-arrow-return-left icon-color"></i>
        <% end %>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table custom-table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Color</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @labels.each do |label| %>
            <tr>
                <th scope="row"><%= label.id %></th>
                <td><%= label.title %></td>
                <td><%= label.color %></td>
                <td>
                <div class="dropdown">
                    <button class="btn btn-secondary custom-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="<%= edit_board_label_path(@board, label)%>">Edit</a></li>
                        <li>
                            <%= link_to 'Delete', board_label_path(@board, label), data: { turbo_confirm: 'Are you sure?', turbo_method: "delete" }, class: "dropdown-item" %>
                        </li>
                    </ul>
                </div>
                </td>
            </tr>
            <% end %>
        </tbody>
        </table>
    </div>
</div>