<%= form_with model: [state.board, state], local: true do |form| %>
    <div class="card white-font mt-4" style="width: auto;">
        <div class="card-body">
            <%= form.hidden_field :board_id, value: state.board_id %>
            <%= form.hidden_field :board_position, value: 1 %>
            <div class="d-flex justify-content-between align-items-center">
                <%= form.text_field :status, placeholder: "Status", class: "form-control mb-4", required: true %>
            </div> 
            <div class="actions">
                <%= form.submit "Submit", class: "btn btn-primary rounded-pill px-4 mb-4" %>
            </div>
        </div>
    </div>
<% end %>
