<div class="header-container">
    <h1 class="h1-text"><%= @board.name %></h1>
    <%= link_to boards_path, class: "card-link icon-return" do %>
        <i class="bi bi-arrow-return-left icon-color"></i>
    <% end %>
</div>
<div class="container text-center mt-4">
    <div class="row align-items-start">
        <% @states.each do |state| %>
            <div class="col-12 col-md-3 mb-4 custom-column">
                <div class="state-header">
                    <h5 class="show-text"><%= state.status %></h5>
                    <i class="bi bi-plus-circle icon-color"></i>
                </div>
                <% state.tasks.each do |task| %>
                <div class="task-box">
                    <h3 class="task-title"><%= task.title %></h3>
                    <p class="task-assig"> Asigned to <%= task.assignee.name %></></p>
                    <p class="task-desc"><%= task.description %></></p>
                </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
